<section class="border-black border-b">
  <div class="mx-auto border-black border-x max-w-7xl">
    <div class="mx-auto">
      <div class="mx-auto lg:pt-28 h-96 bg-[linear-gradient(to-bottom,_#0000_1px,_transparent_1px)] bg-[length:100%_20px] px-8 py-12">
        <h2 class="text-black font-display uppercase text-4xl lg:text-7xl">
          Hey there, I'm
        </h2>
        <h1 class="text-black font-display uppercase text-9xl lg:text-9xl">
          Alec Levy
        </h1>
        <p class="text-black font-display uppercase text-xl lg:text-3xl"></p>
      </div>
    </div>
  </div>
  <style>
    .wave-line {
      width: 100%;
      position: absolute;
      top: 43%;
      left: 0;
      transform: rotate(45deg);
      z-index: -1;
    }
    .wave-line .line {
      position: absolute;
      width: 100%;
      height: 130px;
    }
    .wave-line .line1 {
      background: .url(public/work/Vector 1.svg);
      background-size: contain;
      animation: lineOne 30s linear infinite;
    }
  </style>
</section>

