<section class="border-black border-b">
  <div class="mx-auto border-black border-x max-w-7xl gradient-grid">
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-black font-display uppercase lg:text-4xl text-xl">
        I'm a web developer, currently studying agtech sensing through a data ingestion platform for researchers and farmers.
      </p>
    </div>
   
  </div>
</section>
