<section class="border-black border-b">
  <div class="mx-auto border-black border-x max-w-7xl gradient-grid">
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-black font-display uppercase lg:text-6xl text-xl">
        I'm a web developer, currently studying agtech sensing through a data ingestion platform for researchers and farmers.
      </p>
    </div>
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-black font-display uppercase lg:text-3xl"> 
        This platform is designed to help researchers and farmers make sense of the data they collect, and to provide a space for curious minds to explore the world of agtech.
        <br />
      </p>
    </div>
  </div>
</section>
